@import '../../variables.scss';

.appBarRoot {
    display: flex;
    height: 92px
}

.siteName {
    width: 250px;
    padding: 0;
    margin: 0 30px
}

.header {
    color: $mainBeige;
    text-decoration: none;
    margin-left: 30px;
    letter-spacing: 0.018em;
    font-size: 1.75rem;
  }
  
.link {
    text-decoration: none
}

.margin {
    margin: 0 42px 0 30px
}
  
.padding {
    padding: 0
}
  
.loginDiv {
    width: 350px;
}
  
.welcome {
    display: flex;
}

.span {
    display: flex;
    min-width: 120px;
    width: 60%;
    align-items: center;
    font-weight: bold;
}
  
.login {
    text-decoration: none;
    margin-top: 10px
}
  
.logout {
    width: 40%
}

.text {
    display: block;
    justify-content: left;
    text-align: left;
}

.icons {
    color: $mainBeige!important;
    border-radius: 3px!important;
    font-size: small;
    width: 40;
    height: 40;
    margin: 5;
    &:hover {
        background-color: $mainGreen!important;
    }
}  

.rootDiv {
    display: flex;
    justify-content: center;
}

.root {
    display: flex;
    flex-direction: row;
    justify-content: start;
    background: $secondaryBeige;
    width: 85%;
}

.order {
    display: flex;
    flex-direction: column;
    width: 720px;
    margin: 24px;
}

.title {
    margin: 25px!important;
    margin-bottom: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
}

.itemcard {
    margin: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.lineDiv {
    width: 240px;
    height: 10px;
    border-bottom: solid 1px black;
}

.amountDiv {
    margin: 25px!important;
}

.checkout {
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 320px;
    margin: 24px;
    margin-left: 0;
}

.amountLabelDiv {
    margin: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.amountNum {
    margin: 0 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.divider {
    margin-bottom: 15px;
}

.button {
    margin: 15px 0;
    width: 100%;
    color: white!important;
    background: red!important;
    font-weight: bold;
    &:hover {
      background: #d18888;
    }
}

.flexFiller {
    flex: 1;
}

.fontWeight {
    font-weight: bold;
}

