@import '../../variables.scss';

.rootDiv {
    display: flex;
    justify-content: center;
}

.root {
    display: flex;
    flex-direction: row;
    justify-content: start;
    background: $secondaryBeige;
    width: 85%;
}

.order {
    display: flex;
    flex-direction: column;
    width: 720px;
    margin: 24px;
}

.title {
    margin: 25px!important;
    margin-bottom: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
}

.itemcard {
    margin: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.amountDiv {
    margin: 25px!important;
}

.checkout {
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 320px;
    margin: 24px;
    margin-left: 0;
}

.amountLabelDiv {
    margin: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.amountNum {
    margin: 0 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.divider {
    margin-bottom: 15px;
}

.button {
    margin: 15px 0;
    width: 100%;
    color: white!important;
    background: red!important;
    font-weight: bold;
    &:hover {
      background: #d18888;
    }
}

.flexFiller {
    flex: 1;
}

.fontWeight {
    font-weight: bold;
}

.goToShopSuggestion {
    color: $secondaryGreen;
}

.suggestionDiv {
    display: flex;
    height: 390px;
    justify-content: center; 
    flex-direction: column;
}
