.paypalButton {
    opacity: 0;
    width: 290px;
    height: 36px; 
    z-index: 1;
    position: absolute;
    :global(.zoid-outlet) {
        width: 290px !important;
    }
}

.paypalButtonGuest {
    opacity: 0;
    width: 370px;
    height: 40px; 
    //z-index: 1;
    position: absolute;
    :global(.zoid-outlet) {
        width: 370px !important;
    }
}
