@import '../../variables.scss';

.appBarRoot {
  display: flex;
  height: 92px
}

.root {
    display: flex;
    flex-wrap: nowrap;
  }

.img {
    margin-top: 4px;
    margin-left: 84px;
    margin-right: 82px;
    margin-bottom: 32px;
    width: 520px;
    height: 600px;
}

.flexfiller {
  flex: 1
}

.textDiv {
  margin-top: 4px;
  margin-left: 0px;
  margin-right: 84px;
  margin-bottom: 32px;
  width: 674px;
  height: 600px
}

.text {
    display: block;
    justify-content: left;
    text-align: left;
}

.h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 28px;
    height: 30px;
    margin: 4px 0 0 0;
}

.h2 {
    font-size: 32px;
    font-weight: bold;
    height: 35px;
    margin: 15px 0 20px 0;
}

.h3 {
    font-size: 24px;
    height: 25px;
    margin: 20px 0 56px 0;
}

.inputDiv {
    display: flex; 
    justify-content: left;
    height: 55px
}

.dropDownDiv {
  width: 313px
}

.numDiv {
  width: 135px
}

.input {
    border-color: black;
    border-width: 1px;
    width: 115px;
    height: 52px; 
    font-size: 20px;
    &:focus {
      outline: none;
    }
}

.button {
    box-shadow: none;
    border-color: $backgroundGreen;
    background-color: $backgroundGreen;
    color: $mainBeige;
    border-width: 1px;
    margin-top: 8px;
    margin-bottom: 26px;
    width: 428px; 
    height: 52px; 
    font-size: 17px; 
    font-weight: bold;
    &:hover {
      border-color: $highlightGreen;
      background-color: $highlightGreen;
    }
    &:focus {
      outline: none;
    }
}

.header {
  color: $mainBeige;
  text-decoration: none;
  margin-left: 30px;
  letter-spacing: 0.018em;
  font-size: 1.75rem;
}

.link {
  text-decoration: none
}

.siteName {
  width: 250px;
  padding: 0;
  margin: 0 30px
}

.margin {
  margin: 0 42px 0 30px
}

.padding {
  padding: 0
}

.loginDiv {
  width: 350px;
}

.welcome {
  display: flex;
}

.span {
  display: flex;
  min-width: 120px;
  width: 60%;
  align-items: center;
}

.login {
  text-decoration: none;
  margin-top: 10px
}

.logout {
  width: 40%
}

.icons {
  color: $mainBeige!important;
  border-radius: 3px!important;
  font-size: small;
  width: 40;
  height: 40;
  margin: 5;
  &:hover {
      background-color: $mainGreen!important;
  }
}

.description {
  margin-top: 30px!important;
}
