@import '../../variables.scss';

.root {
    display: flex;
    height: 64px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
    margin-bottom: 28px;
}

.btnAndDrawer {
    min-width: 72px !important;
    height: 64px;
    background-color: $mainGreen;
    text-align: start;
}

.drawerOpen {
    min-width: 292px !important;
}

.menuButton {
    z-index: 1301;
    margin-right: 12px !important;
    margin-left: 12px !important;
    margin-top: 8px !important;
    color: $mainBeige !important;
    font-size: small;
    &:hover {
        background-color: $mainGreen!important;
    }
    &:focus {
        background-color: $highlightGreen!important;
    }
}

.hide {
    display: none !important;
}

.filterDiv {
    width: 100%;
    height: 56px;
}

.filterBar {
    justify-content: start;
    align-items: start!important;
    margin: 0 60px;
}
