.wrapper {
    display: flex;
    align-items: top;
    width: 100%;
}

.img {
    min-width: 104px;
}

.productInfo {
    display: flex;
    flex-direction: column;
}

.textarea {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 18px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.itemInfoDiv {
    display: flex;
    width: 100%;
    font-size: 14px;
    text-transform: capitalize;
    text-align: left;
}

.textColor {
    color: grey;
}

.flexFiller {
    flex: 1;
}

.iconDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.iconButton {
    font-size: 0.75rem!important;
    padding: 8px;
    padding-left: 5px;
    height: 30px;
    border-radius: 0!important;
    &:hover {
        background-color: white!important;
    }
    &:focus {
        background-color: white!important;
    }
}

.icon {
    padding: 5px;
}

.iconDivider {
    height: 20px;
    width: 1px;
}

.priceDiv {
    min-width: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: start;
    flex-direction: column;
    font-size: 15px;
}

.priceText {
    align-items: flex-end;
    margin: 5px 0;
    font-weight: bold;
}