@import '../../variables.scss';

.root {
    flex-grow: 1;
}

.card {
    margin: 5px!important;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.instructionDiv {
    display: flex;
    height: 390px;
    justify-content: center; 
    flex-direction: column;
}

.filterNoMatchInstruction {
    color: $secondaryGreen;
    font-weight: 600;
    font-size: 1.25rem;
}