.content {
    min-width: 800px;
}

.form {
    display: block;
}

.textField {
    width: 700px;
}

.flexField {
    display: flex;
}

.inventoryField {
    width: 325px;
    margin-right: 50px!important;
}

.priceField {
    width: 325px;
}