@import '../../variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.root {
    min-width: 100px;
    height: 260px;
    &:hover {
        border-color: rgba(10, 103, 10, 0.3);
        box-shadow: 0 1px 4px rgba(10, 103, 10, 0.2), 0 1px 6px rgba(0, 0, 0, .22);
    }
}

.card {
    min-height: 210px;
    padding: 16px 16px 8px 16px!important;
}

.action {
    padding: 4px 12px 10px 12px!important;
}

.p {
    margin: 0;
    margin-top: 12px;
    max-height: 20px;
    text-overflow: ellipsis;
    color: $mainDark;
    font-family:'Inter', sans-serif;;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 18px;
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.flexfiller {
    flex: 1
}

.icon {
    background: $mainGreen!important;
    color: $mainBeige!important;
    font-size: small;
    border-radius: 2px!important;
    width: 35px;
    height: 35px;
    &:hover {
        background: $highlightGreen!important;
    }
    &:focus {
        background: $confirmGreen!important;
    }
}
