@import '../../variables.scss';

.root {
    min-width: 100px;
    height: 260px;
    border: none
}

.card {
    min-height: 210px;
    padding: 16px 16px 8px 16px;
}

.action {
    padding: 4px 12px 10px 12px!important;
}

.p {
    margin: 0;
    max-height: 20px;
    text-overflow: ellipsis;
    color: $mainDark;
    font-size: 15
}

.flexfiller {
    flex: 1
}

.icon {
    background: $mainGreen!important;
    color: $mainBeige!important;
    font-size: small;
    border-radius: 2px!important;
    width: 35px;
    height: 35px;
    &:hover {
        background: $highlightGreen!important;
    }
    &:focus {
        background: $confirmGreen!important;
    }
}
//#506e69
