.root {
    min-width: 100px;
    height: 260px;
    border: none
}

.card {
    min-height: 210px;
    padding: 16px 16px 8px 16px;
}

.action {
    padding: 8px 12px 4px 12px
}

.p {
    margin: 0;
    max-height: 20px;
    text-overflow: ellipsis;
    color: #494f4d;
    font-size: 15
}

.flexfiller {
    flex: 1
}

.icon {
    background: #8ba48a;
    color: #f5f5f5;
    font-size: small;
    border-radius: 5px;
    width: 35px;
    height: 35px;
}

.icon:hover {
    background: #506e69
}