@import '../../variables.scss';

.filterButton {
    background: $secondaryBeige!important;
    color: $mainDark!important;
    text-transform: none!important;
    margin: 0 10px 0 10px!important;
}

.expandIcon {
  color: $mainDark!important;
}

.formGroup {
  font-size: 13px!important;
  color: $mainDark;
  padding: 0;
}

.formControlLabel {
    margin: 0!important;
    font-size: 13px!important;
    text-transform: capitalize;
    &:hover {
      cursor: pointer;
      background: $secondaryBeige!important;
    }
}

.buttonClear {
  background: $mainBeige;
  color: $backgroundGreen;
  border: 1px solid $backgroundGreen;
  border-left: none;
  font-weight: bold;
  width: 50%;
  min-width: 103px;
  height: 35px;
  &:hover {
    cursor: pointer;
    background: $highlightGreen;
    border: 1px solid $highlightGreen;
    color: $mainBeige;
    }
  &:focus {
    outline: none;
    background: $confirmGreen;
    border: 1px solid $confirmGreen;
    color: $mainBeige;
  }
}

.buttonConfirm {
  background: $backgroundGreen;
  color: $mainBeige;
  border: 1px solid $backgroundGreen;
  font-weight: bold;
  width: 50%;
  min-width: 103px;
  height: 35px;
  &:hover {
      cursor: pointer;
      background: $highlightGreen;
      border: 1px solid $highlightGreen;
      color: $mainBeige;
    }
  &:focus {
      outline: none;
      background: $confirmGreen;
      border: 1px solid $confirmGreen;
      color: $mainBeige;
  }
}
