@import '../../variables.scss';

.filterButton {
    background: $secondaryBeige!important;
    color: $mainDark!important;
    text-transform: none!important;
    margin: 0 10px 0 10px!important;
}

.expandIcon {
  color: $mainDark!important;
}
