@import '../../variables.scss';

.filterButton {
    background: $secondaryBeige!important;
    color: #494f4d!important;
    text-transform: none!important;
    margin: 0 10px 0 10px!important;
}

.expandIcon {
  color: #494f4d!important;
}
