@import '../../../variables.scss';

.root {
    display: flex;
    background-color: $secondaryBeige;
    height: 120vh;
    justify-content: center;
    & > * {
        width: 496px
      }
}

.box {
      display: flex;
      background-color: $secondaryBeige;
      height: 110vh;
      justify-content: center;
      flex-direction: column   
}

.title {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formField {
    height: 60px;
}

.button {
    background-color: $secondaryGreen!important;
    color: $mainBeige!important;
    &:hover {
        background-color: $highlightGreen!important;
    }
}

.specInput {
    height: 35px;
    width: 225px;
    border: none;
    font-size: 15px;
    &:focus {
        outline: none
    }
}
