@import '../../../variables.scss';

.root {
    display: flex;
    background: $secondaryBeige;
    height: 100vh;
    justify-content: center;
    & > * {
        width: 496px;
      }
}

.box {
      display: flex;
      background: $secondaryBeige;
      height: 100vh;
      justify-content: center; 
      flex-direction: column  
}

.title {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center
}

.button {
    background-color: $secondaryGreen !important;
    color: $mainBeige !important;
    &:hover {
        background-color: $highlightGreen !important;
    }
    &:disabled {
        background-color: $secondaryGreenDisabled !important;
        color: $mainBeigeDisabled !important
    }
}
