.root {
    display: flex;
    background: #ecebeb;
    height: 100vh;
    justify-content: center;
    & > * {
        width: 496px;
      }
}

.box {
      display: flex;
      background: #ecebeb;
      height: 100vh;
      justify-content: center; 
      flex-direction: column  
}

.title {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center
}

.button {
    background: black;
    color: #f5f5f5
}