@import '../../variables.scss';

.root {
    display: flex;
    justify-content: center;
    align-content: center;
    background: $lightBeige;
    height: 140vh;
    & > * {
      margin: 16px;
      width: 528px;
      height: 880px;
    }
}

.title {
    margin: 34px;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.018em;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
      width: $inputBoxWidthBig; 
      height: 42px;
      border: solid 1px black;
      font-weight: 650;
      letter-spacing: 0.018em;
      &:focus {
        outline: none;
      }
}

.signInButton {
      background: black;
      color: white;
    &:hover {
        background-color: #757575;
        cursor: pointer;
        border-color: #757575;
    }
}

.label {
      width: 300px;
      display: flex;
      justify-content: flex-start;
      margin-left: $labelMargin;
      letter-spacing: 0.012em
}
