$inputBoxWidthBig : 335 + 10 + 25px;
$labelMargin : 79.5px;
$inputBoxHeight : 22px;
$inputBoxWidthSmall : 335px;
$drawerWidth : 300;
$searchBoxWidth: 100%;

$mainGreen: #8ba48a;
$secondaryGreen: #506e69;
$backgroundGreen: #7a8e82;
$highlightGreen: #cad2a8;
$confirmGreen: #9cab88;

$mainBeige: #f5f5f5;
$secondaryBeige: #ecebeb;
$lightBeige: #fcfcf0;

$mainDark: #494f4d;
